*{
    margin:0;
    padding:0;
   
}
html, body{
    height:100%;
    max-width:100%;
    background: linear-gradient(rgb(255, 255, 255),rgb(150, 216, 247));
    box-sizing: border-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
ul{
    list-style-type: none;
}


.sidebar{
    left:0;
    position:fixed;
    height: 100%;
    max-height: 100vh;
    background-color:rgba(0, 0, 0, 0.519);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 250px;
    color:rgb(255, 255, 255);
    font-size: large;
}

.sidebar li, .sidebar a{
    padding:20px;
    width: 250px;
    text-align: center;
    color:rgb(255, 255, 255);
}

.sidebar li:hover{
    background-color: rgb(50, 50, 50);
    border-radius: 10px;    
}

.sidebar li:active{
    background-color: rgb(113, 112, 112);
}

.top-sidebar{
    top:0;
    width: 250px;
    display:flex;
    flex-direction: column;
    position:relative;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid rgba(64, 64, 64, 0.707);
}

.top-sidebar img{
    height:15rem;
    width: 15rem;
    border-radius: 100%;
    object-fit:cover;
    align-self: center;
    border-style: solid;
    border-color: rgb(166, 210, 230);
    margin-bottom: 30px;
}

.bottom-sidebar{
    position:relative;
    top:10px;
}

#selected{
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.dashboard{
    width: auto;
    display:flex;    
    position: absolute; 
    top: 120px; 
    left: 350px; 
    width: calc(100% - 350px); 
    height: auto;
    padding: 20px;
  
}


.box{
    background-color: rgb(227, 241, 255);
    width: 25rem;
    margin: 40px;
    padding:40px;
    height: 35rem;
    box-sizing: border-box;
    float:left;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
}

.in-box{
    background-color: rgb(255, 255, 255);
    height: 50%;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.in-box img{
   object-fit: cover;
   width: 100%;
}

#flower, .desc{
    margin-top:20px;
}

#price{
    color:green;
}



.icon{
    font-size:xx-large;
    margin-top: 10%;
    float: right;
}
.arrow-button{
    font-size:xx-large;
    align-self: center;
    display: flex;
    padding: 20px;
}

.user-profile{
    display:flex;
}


form{
    margin-left:15%;
    color: black;
}

form input{
    font-size: large;
    height:2rem;
    width: 20rem;
    border-radius: 3px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
    padding-left: 10px;
    padding-block: 20px;
    text-transform: none;
}

.password-field {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#reset, #submit{
    width: auto;
    padding: 5px;
    text-align: center;
}
.edit-image{
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
    margin-left:100px;
    padding: 20px;
}

.edit-image img{
    object-fit:cover;
    border-radius: 10px;
    height: 50%;
    width:100%; 
}

.admin-dashboard{
    justify-content: center;
}

#box-chart{
    width: 45rem;
    height:30rem;
    position:fixed;
    left:28rem;
    padding: 30px;
    background:rgb(227, 241, 255);
    border-radius: 10px;
    top:270px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
}

#chart_values{
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent content from overflowing */
    background-color: white; /* Chart background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

#customer-chart{
    
    border-radius: 10px;
}

.box-option{
    position:absolute;
    display:flex;
    flex-direction: row;
    top:80px;
    left:350px;
    color:black;
    gap:1.5rem;

}
#box1, #box2, #box3{
    width:200px;
    height:100px;
    margin:3rem;
    padding: 2rem 2rem 2rem 2rem;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: large; 
    text-align: center;
    justify-content: center;
    align-self: center;
}

#box1{
    background: radial-gradient(rgb(61, 229, 42),rgb(199, 244, 182));
}
#box2{
    background:radial-gradient(rgb(42, 173, 229),rgb(181, 224, 239));
}
#box3{
    background: radial-gradient(rgb(197, 219, 55),rgb(220, 233, 156));
}