/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



form {
  background-color: #fff;
  border-radius: 13px;
  padding: 64px;
  width: 100%;
  max-width: 661px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Form Group */
.form-group {
  margin-bottom: 31px;
}

label {
  display: block;
  margin-bottom: 19px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* Payment Method Buttons */
.payment-method {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  margin-left: -4px;
}

.payment-method button {
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.payment-method button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.payment-method button:hover {
  background-color: #f1f1f1;
}

/* Payment Sections */
.payment-section {
  display: none;
}

.payment-section.active {
  display: block;
}

/* Buttons */
button[type="button"],
button[type="submit"] {
  width: 13%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
label[for="terms"]{
    margin-top:-18px;
    margin-left:27px;
 
}
input[type="checkbox"]{
  cursor: pointer;
}

button[type="button"] {
  background-color: #ccc;
  color: #333;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
}

button[type="button"]:hover {
  background-color: #b3b3b3;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Hidden Fields */
.hidden {
  display: none;
}
